---
apiVersion: v1
kind: Secret
metadata:
  name: argocd-repo-infra
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ argocd_root_app_repo_url }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-creds
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  type: git
  url: {{ argocd_repo_base_url }}
  username: {{ argocd_root_app_repo_user }}
  password: {{ argocd_root_app_repo_pass }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-helm
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: helm
  name: gitea
  url: {{ argocd_repo_helm_url }}
  username: {{ argocd_root_app_repo_user }}
  password: {{ argocd_root_app_repo_pass }}
