apiVersion: v1
kind: Secret
metadata:
  name: argocd-bootstrap-repo
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ argocd_root_app_repo_url }}
  username: {{ argocd_root_app_repo_user }}
  password: {{ argocd_root_app_repo_pass }}
