prowlarr:
  image:
    repository: ghcr.io/onedr0p/prowlarr-nightly
    tag: 1.3.2.2863
  env:
    TZ: Europe/Moscow
  ingress:
    main:
      enabled: true
      ingressClassName: nginx
      annotations:
        kubernetes.io/tls-acme: "true"
      hosts:
        - host: &host prowlarr.home.devmem.ru
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
  podSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
  persistence:
    config:
      enabled: true
      type: pvc
      accessMode: ReadWriteOnce
      storageClass: longhorn
      size: 3Gi
  resources:
    requests:
      cpu: 10m
      memory: 768Mi
    limits:
      cpu: 1000m
      memory: 1024Mi
