tautulli:
  image:
    repository: ghcr.io/tautulli/tautulli
    tag: v2.15.1
  env:
    TZ: Europe/Moscow
  envFrom:
    - configMapRef:
        name: proxy-config
  command:
    - python
    - Tautulli.py
  args:
    - --config
    - /config/config.ini
    - --datadir
    - /config
    - --port
    - "8181"
  controller:
    annotations:
      configmap.reloader.stakater.com/reload: "proxy-config"
  ingress:
    main:
      enabled: true
      ingressClassName: nginx
      annotations:
        kubernetes.io/tls-acme: "true"
      hosts:
        - host: &host tautulli.devmem.ru
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
  podSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
  persistence:
    config:
      enabled: true
      existingClaim: tautulli-config
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 512Mi
