---
k8s_cluster_name: infra

k8s_cluster_controlplane_group: k8s_controlplane_{{ k8s_cluster_name }}
k8s_cluster_workers_group: k8s_workers_{{ k8s_cluster_name }}
k8s_cluster_lb_group: k8s_lb_{{ k8s_cluster_name }}

k8s_cluster_user_home: /home/{{ ansible_user }}/.kube
k8s_cluster_kubeconfig_remote: "{{ k8s_cluster_user_home }}/config"
k8s_cluster_kubeconfig_localhost: "{{ lookup('env', 'HOME') }}/.kube/config"

k8s_cluster_kubeadm_config: /etc/kubernetes/kubeadm-config.yml
k8s_cluster_control_plane_endpoint: 192.168.13.254

k8s_cluster_pod_network: 10.244.0.0/16
# renovate: depName=projectcalico/calico
k8s_cluster_pod_network_version: v3.24.1
k8s_cluster_pod_network_manifest_url: https://raw.githubusercontent.com/projectcalico/calico/{{ k8s_cluster_pod_network_version }}/manifests/calico.yaml
k8s_cluster_pod_network_manifest_dir: "{{ k8s_cluster_user_home }}/calico"
k8s_cluster_pod_network_manifest: "{{ k8s_cluster_pod_network_manifest_dir }}/calico.yaml"

k8s_cluster_lb_keepalived_virtual_router_id: "60"

k8s_cluster_lb_keepalived_interface:
  VI_01:
    state: "{{ (groups[k8s_cluster_lb_group][0] == inventory_hostname) | ternary('MASTER', 'BACKUP') }}"
    interface: "{{ ansible_default_ipv4['alias'] }}"
    priority: "{{ 150 if groups[k8s_cluster_lb_group][0] == inventory_hostname \
      else 150 - groups[k8s_cluster_lb_group].index(inventory_hostname) }}"
    virtual_router_id: "{{ k8s_cluster_lb_keepalived_virtual_router_id }}"
    advert_int: "1"
    authentication:
      auth_type: PASS
      auth_pass: 10PASS01
    unicast_src_ip: "{{ ansible_host }}"
    unicast_peer: "{{ groups[k8s_cluster_lb_group] \
      | map('extract', hostvars, ['ansible_host']) \
      | list | d([]) \
      | difference([ansible_host]) }}"
    virtual_ipaddress:
      - "{{ k8s_cluster_control_plane_endpoint }}/24"
    track_script:
      - check_haproxy

k8s_cluster_storage_dev: /dev/sdb
k8s_cluster_storage_part_num: 1
k8s_cluster_storage_part: "{{ k8s_cluster_storage_dev }}{{ k8s_cluster_storage_part_num }}"
k8s_cluster_storage_fstype: ext4
k8s_cluster_storage_mount: /var/lib/longhorn
