apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kps-crds
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/prometheus-community/helm-charts
    # renovate: registryUrl=https://prometheus-community.github.io/helm-charts
    targetRevision: kube-prometheus-stack-40.5.0
    path: charts/kube-prometheus-stack/crds/
    directory:
      recurse: true
  destination:
    name: in-cluster
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - Replace=true
