---
- name: Lb | Install packages
  ansible.builtin.package:
    name:
      - haproxy
      - keepalived
    state: present
  become: true

- name: Lb | Set sysctl entries
  ansible.posix.sysctl:
    sysctl_file: /etc/sysctl.d/keepalived.conf
    name: net.ipv4.ip_nonlocal_bind
    value: "1"
    reload: true
    state: present
  become: true

- name: Lb | Copy keepalived config
  ansible.builtin.template:
    src: keepalived.conf.j2
    dest: /etc/keepalived/keepalived.conf
    mode: "0644"
    backup: true
    validate: keepalived -t -f %s
  become: true
  notify: Reload keepalived

- name: Lb | Copy haproxy config
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: "0644"
    backup: true
    validate: haproxy -c -f %s
  become: true
  notify: Reload haproxy

- name: Lb | Flush handlers
  ansible.builtin.meta: flush_handlers
