---
- name: Setup storage for worker nodes
  ansible.builtin.include_tasks: storage.yml
  when: k8s_cluster_workers_group in group_names

- name: Setup controlplane Load Balancer
  ansible.builtin.include_tasks: lb.yml
  when: k8s_cluster_lb_group in group_names

- name: Init Kubernetes cluster
  ansible.builtin.include_tasks: init_cluster.yml
  when: >
    k8s_cluster_workers_group in group_names or
    k8s_cluster_controlplane_group in group_names
