---
- name: Storage | Create mount directory
  ansible.builtin.file:
    path: "{{ k8s_cluster_storage_mount }}"
    state: directory
    mode: "0755"
    owner: root
    group: root
  become: true

- name: Storage | Create partition
  community.general.parted:
    device: "{{ k8s_cluster_storage_dev }}"
    number: "{{ k8s_cluster_storage_part_num }}"
    label: gpt
    state: present
  become: true

- name: Storage | Create filesystem
  community.general.filesystem:
    dev: "{{ k8s_cluster_storage_part }}"
    fstype: "{{ k8s_cluster_storage_fstype }}"
  become: true

- name: Storage | Get UUID
  ansible.builtin.command: >
    blkid -s UUID -o value {{ k8s_cluster_storage_part }}
  changed_when: false
  register: _get_uuid
  become: true

- name: Storage | Mount partition
  ansible.posix.mount:
    path: "{{ k8s_cluster_storage_mount }}"
    src: UUID={{ _get_uuid.stdout }}
    fstype: "{{ k8s_cluster_storage_fstype }}"
    state: mounted
  become: true

- name: Storage | Configure multipathd to ignore local volumes
  ansible.builtin.blockinfile:
    path: /etc/multipath.conf
    block: |
      blacklist {
          devnode "^sd[a-z0-9]+"
      }
  become: true
  notify: Restart multipathd
