apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - pairs:
      app.kubernetes.io/name: httpbin
    includeSelectors: true
resources:
  - resources.yaml
images:
  - name: ghcr.io/mccutchen/go-httpbin
    newTag: "2.20.0"
