apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: thanos-objstore
  labels:
    app: {{ template "kube-prometheus-stack.name" . }}-thanos
{{ include "kube-prometheus-stack.labels" . | indent 4 }}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: thanos-objstore
    template:
      metadata:
        labels:
          app: {{ template "kube-prometheus-stack.name" . }}-thanos
{{ include "kube-prometheus-stack.labels" . | indent 10 }}
      data:
        objstore.yml: |
          type: S3
          config:
            bucket: thanos
            endpoint: s3.home.devmem.ru
            access_key: {{ `{{ .s3Key }}` }}
            secret_key: {{ `{{ .s3KeySecret }}` }}
            bucket_lookup_type: path
          prefix: thanos
  data:
    - secretKey: s3Key
      remoteRef:
        key: secret/kps/thanos
        property: s3-key
    - secretKey: s3KeySecret
      remoteRef:
        key: secret/kps/thanos
        property: s3-key-secret
